<!-- Start deneb_about section -->
<section class="des_01">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{ page.Description_01.image | absolute_url }}" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="deneb_content_box wow fadeInRight">
					<h2>{{ page.Description_01.heading }}</h2>
					<p>{{ page.Description_01.text1 }}</p>
					<div class="deneb_sidebar">
						<div class="widget widget_tag_cloud wow fadeInUp">
							<ul>
								<li data-sort="0003">
									<a class="tag_1"><span><i class="fas fa-check"></i></span>Time Tracking</a>
								</li>
								<li data-sort="0003">
									<a class="tag_1" href="/tag/technology"><span><i class="fas fa-check"></i></span> Screenshots of activities</a>
								</li>
								  
								<li data-sort="0005">
									<a class="tag_1" href="/tag/hosting"><span><i class="fas fa-check"></i></span> project management</a>
								</li>
								  
								<li data-sort="0005">
									<a class="tag_1" ><span><i class="fas fa-check"></i></span> Task management</a>
								</li>
	
								<li data-sort="0005">
									<a class="tag_1" ><span><i class="fas fa-check"></i></span> employee monitoring</a>
								</li>
									
							</ul>
						</div>
					</div>
					<p>{{ page.Description_01.text2 }}</p>
					<p>{{ page.Description_01.text3 }}</p>
					<p>{{ page.Description_01.text4 }}</p>
					<!-- <a href="{{ page.about.button.link }}" class="deneb_btn">{{ page.about.button.name }}</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->