<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="{{ "/assets/images/shape/shape_10.png" | absolute_url }}" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Features</h2>
				</div>
			</div>
		</div>
		<div class="projects_slider_content">
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/f3.webp" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Time tracking</a></h4>
					</div>
				</div>
			</div>
			<div class="single_project cat2 cat4">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/f2.webp" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Time clock app</a></h4>
					</div>
				</div>
			</div>
			<div class="single_project cat3 cat1">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/f6.webp" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Actuvity tracking</a></h4>
					</div>
				</div>
			</div>
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/f4.webp" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">Time reporting</a></h4>
					</div>
				</div>
			</div>
			<div class="single_project cat1 cat5">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/f5.webp" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="#">ProjectManagement</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->