<nav class="main_menu">
    <ul>
	  <li class="menu-item {% if page.url == '/' %} active_link {% endif %}"><a href="{{site.url}}">Home</a>
    </li>
      {% for menu in site.data.navigation %}
     
       {% if menu.submenu %}
       <li class="menu-item {% if page.url contains menu.url %} active_link {% endif %}" style="color: #76787b; cursor: pointer; font-weight: 500;">{{menu.text}}
		<ul class="sub-menu">
			{% for submenu_item in menu.submenu %}
			<li class="menu-item"><a href="{{submenu_item.url}}">{{submenu_item.text}}</a></li>
			{% endfor %}
		</ul>
		</li>
    {%else%}
    <li class="menu-item {% if page.url contains menu.url %} active_link {% endif %}"><a href="{{menu.url}}">{{menu.text}}</a>
       {% endif %}
      {% endfor %}
      <li class="menu-item"><a href="/contact/" class="deneb_btn">Free 14-day trial</a></li>
    </ul>
</nav>
