<!-- Start deneb_service section -->
<section class="deneb_service service_v1">
	<div class="shape_v2">
		<img src="{{ "/assets/images/shape/shape_7.png" | absolute_url }}" class="shape_7" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="web" class="tab-pane active">
					      	<div class="row align-items-center">
								<div class="col-lg-6">
									<div class="deneb_img_box wow fadeInRight">
										<img src="{{ "/assets/images/des01_image2.png" | absolute_url }}" class="img-fluid" alt="Web Solution"/>
									</div>
								</div>
					      		<div class="col-lg-6">
									<div class="deneb_content_box">
										<h2>{{ page.Des1.heading }}</h2>
										<p>{{ page.Des1.text }}</p>	
									</div>
					      			<div class="deneb_content_box wow fadeInLeft" >  
					      				<p>HoneybeeTime has everything you need to keep your team on track and focused on the task. Whether a small business or a large enterprise, HoneybeeTime makes it easy to manage your productivity, track your working time, and ensure that you work efficiently and effectively. With HoneybeeTime, managers can easily monitor their employees' work activities and see what they are working on in real-time. And it is allowing employees to log in and track their work hours on different projects. They can also take breaks and set reminders to keep themselves on track throughout the day.</p>
										<br>
										<p>HoneybeeTime’s screenshot feature helps to capture images of employees' screens at random intervals. This feature allows managers to see what their team is working on and ensure that they are staying focused and on-task. And also, HoneybeeTime allows managers to view reports that show each employee's productivity over time, so they can identify areas for improvement.</p>
										</div>
					      		</div>
					      		
					      	</div>
					    </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
		<!-- <div class="row">
			{% for service in site.services %}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="grid_item wow fadeInUp">
					<div class="icon">
						<img src="{{service.icon}}" class="img-fluid" alt="">
					</div>
					<div class="info">
						<h4><a href="{{service.url}}">{{service.title}}</a></h4>
						<p>{{service.content | strip_html | truncatewords:"10" }}</p>
						<a href="{{service.url}}" class="link_btn">Read More</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div> -->
	</div>
</section>

<!-- End deneb_service section -->