
<section class="symbol-widgets_wrapper section_padding">
	<div class="shape_v5">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="symbol-widgets_tab_wrap">
					<div class="symbol-widgets_tab_nav wow fadeInUp">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link "><img src="{{ "/assets/images/symbol/i1.png" | absolute_url }}" alt="web solution"><span>Affordable Pricing</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link"><img src="{{ "/assets/images/symbol/i2.png" | absolute_url }}" alt="Strategy & Research"><span>User-friendly Interface</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link"><img src="{{ "/assets/images/symbol/i3.png" | absolute_url }}" alt="Web Development"><span>Offline Mode</span></a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link"><img src="{{ "/assets/images/symbol/i4.png" | absolute_url }}" alt="App Design"><span>Secure</span></a> 
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>