<!-- Start service_feature -->
<!-- <section class="service_feature" style="background-image: url(http://localhost/HoneybeeTime/assets/images/shape/shape_11.png); background-repeat: no-repeat;background-position: right center;"> -->
	<section class="service_feature" style="background-image: url(/assets/images/shape/shape_11.png); background-repeat: no-repeat;background-position: right center;">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 features_title" >
				<!-- <div class="section_title text-center"> -->
					<div class="wow fadeInUp" style="margin-bottom: 70px; text-align: center;">
					<h2 style="margin-bottom: 20px;">{{ page.workflow.heading }}</h2>
					<p>{{ page.workflow.text }}</p>
				</div>
			</div>
		</div>
		<div class="feature_wrapper">
			{% for list in page.workflow.list %}
			<div class="single_feature">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="deneb_img_box wow fadeInLeft">
							<img src="{{ list.image | absolute_url }}" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="deneb_content_box wow fadeInRight">
							<div class="icon">
								<img src="{{ list.icon | absolute_url }}" alt="">
							</div>
							<div class="info">
								<h3>{{ list.name }}</h3>
								<p>{{ list.text }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End deneb_feature -->